/* =01 Reset
------------------------------------------------
Adapted from:
- Normalize.css by Nicolas Gallagher and Jonathan Neal: https://github.com/necolas/normalize.css/
- HTML5 boilerplate: http://html5boilerplate.com/
- HTML5 Doctor Reset by Eric Meyer and Richard Clark: html5doctor.com/html-5-reset-stylesheet/
------------------------------------------------ */

/* Viewport handling for IE10 snap mode; CSS @viewport will eventually replace the viewport meta tag */
/* http://wdbp.net/documentation/viewport-meta-tag-and-at-viewport-css-rule/ */
@-ms-viewport { width: device-width; }
@viewport { width: device-width; }

/* Please DO zoom text on rotate. */
* { -webkit-text-size-adjust: auto; }

/* For clearing */
.group:after {
	display: block;
	height: 0;
	font-size: 0;
	content: ".";
	clear: both;
	visibility: hidden;
}

/* Apply a natural box layout model to all elements, and inherit sensibly
// http://paulirish.com/2012/box-sizing-border-box-ftw
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
*, *:before, *:after {
	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	border: 0;
	padding: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}

audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

audio:not([controls]) {
	display: none;
}

[hidden] {
	display: none;
}

html {
	overflow-y: scroll;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

a {
	color: blue;
}

a:focus {
	outline: thin dotted;
}

li {
	list-style: none;
}

abbr[title] {
	border-bottom: none;
}

strong {
	font-weight: 700;
}

b {
	font-weight: normal;
}

i, em, dfn {
	font-style: italic;
}

hr {
	display: block;
	height: 1px;
	margin: 1em 0;
	border: 0;
	border-top: 1px solid #ccc;
	padding: 0;
}

ins {
	background: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background: #ff0;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

pre, code, kbd, samp {
	font-family: monospace;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

q {
	quotes: none;
}

q:before, q:after {
	content: "";
	content: none;
}

small {
	font-size: 85%;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}

label {
	cursor: pointer;
}

input, select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}

button, input {
	line-height: normal;
	*overflow: visible;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

input[type="checkbox"],
input[type="radio"] { box-sizing: border-box; }

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	vertical-align: top;
}
